@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --_grid---section-gap: 3.5rem;
  --_grid---gap: 2rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: 'Inter Display', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    @apply bg-white text-gray-900;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}